
@{
    ViewData["Title"] = "Cookie Oku";
}

<h1>Cookie Oku</h1>

<div>
    Cookie deki kullanıcı adı : @TempData["kullaniciadi"]
</div>

<div>
    Cookie deki kullanıcı guid : @TempData["kullaniciguid"]
</div>

<a asp-action="CookieSil">
    Cookie Sil
</a>