
@{
    ViewData["Title"] = "Model Validation - Geçerlilik Kuralları";
}

<h1>Model Validation - Geçerlilik Kuralları</h1>

<p>
    Model Validation kullanıcının ekrandan girdiği verilerin boş geçilememe veya doğru email girme gibi doğrulama işlemlerinin yapılmasıdır.
</p>

<ul>
    <li>
        <a asp-action="UyeListesi">
            Üye Listesi
        </a>
    </li>
</ul>