
@{
    Layout = null; // Bu kod bu sayfada layout kullanılmayacağını uygulamaya bildirir.
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>İletişim</title>
</head>
<body>
    <h1>İletişim</h1>
    <p>
        Bu sayfa layout kullanmamaktadır. View oluşturuken Layout kısmındaki tik işaretini kaldırırsak buradaki gibi layout kullanmayan ve içerisinde html, head ve body tagları olan bağımsız bir sayfa oluşturmuş oluruz.
    </p>
</body>
</html>
