
<li class="nav-item">
    <a class="nav-link" asp-controller="MVC07Partial" asp-action="Index">Partial</a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-controller="MVC08ControllerToView" asp-action="Index">ControllerToView</a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-controller="MVC09ViewToControllerData" asp-action="Index">ViewToController</a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-controller="MVC10ModelBinding" asp-action="Index">ModelBinding</a>
</li>
