<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Partial-Veri Taşıma
    </a>

    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" asp-controller="MVC07Partial" asp-action="Index">Partial</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="MVC08ControllerToView" asp-action="Index">ControllerToView</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="MVC09ViewToControllerData" asp-action="Index">ViewToController</a>
        </li>
    </ul>
</div>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Model
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="MVC10ModelBinding" asp-action="Index">ModelBinding</a></li>
        <li><a class="dropdown-item" asp-controller="MVC11ModelValidation" asp-action="Index">ModelValidation</a></li>
        <li><a class="dropdown-item" asp-controller="MVC12FluentValidation" asp-action="Index">FluentValidation</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cookie Session
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="MVC13Cookie" asp-action="Index">MVC13Cookie</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC13Cookie" asp-action="CookieOku">CookieOku</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC14Session" asp-action="Index">MVC14Session</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC14Session" asp-action="SessionOku">SessionOku</a>
        </li>
    </ul>
</div>


<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Diğer
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="MVC15ViewResults" asp-action="Index">MVC15ViewResults</a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="MVC16FileUpload" asp-action="Index">MVC16FileUpload</a>
        </li>
        
    </ul>
</div>