
@{
    ViewData["Title"] = "MVC10 Model Binding";
}

<h1>MVC10 Model Binding - Model Kullanımı</h1>

<p>
    Mvc de controller ve view arasında veri taşıma yöntemlerinden biri de class ları kullanmaktır.
    <br />
    MVC nin M harfi Model yani projemizdeki class dır.
</p>

<p>
    1 sayfada 1 tane Model classı kullanılıabilir!
</p>

<ul>
    <li>
        <a asp-action="KullaniciSayfasi">
            Kullanıcı Sayfası
        </a>
    </li>
    <li>
        <a asp-action="AdresSayfasi">
            Adres Sayfası
        </a>
    </li>
    <li>
        <a asp-action="UyeSayfasi">
            Üye Bilgileri Sayfası
        </a>
    </li>
</ul>