
@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>

<div class="row">
    <div class="col">
        <h3>İletişim Formu</h3>

    </div>
    <div class="col">
        <h3>Harita</h3>

    </div>
    <div class="col">
        <h3>Adres Bilgileri</h3>

    </div>
</div>