<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata Oluştu</title>
</head>
<body>
    <hgroup>
        <h1>Hata Oluştu.</h1>
        <h2>Uygulamada Hata Oluştu.</h2>
    </hgroup>
</body>
</html>
