@{
}

@*<script>
    alert("Scripts isimli section çalıştı")
</script>*@

<h1>
    MVC Section Kullanımı
</h1>

<section>
    Sayfada html section elementi il bir bölüm
</section>

<section>
    Mvc de section kullanarak view(index vb) sayfalarından Layout a veri gönderimi yapmak için kullanılır.
</section>

<p>
    Layouta veri yollamak için aşağıdaki gibi section boşluk layout daki veriyi göndereceğimiz section alanının ismini yazıyoruz
</p>

<h3>Kullanımı</h3>

@section Scripts{
    <script>
        //alert("Scripts isimli section çalıştı")
        console.log("Scripts isimli section çalıştı");
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

    @section Ozelicerik{
    <section class="alert alert-success">
        Sayfada html section elementi il bir bölüm
    </section>
}

    @section OzelCss{
    <style>
        body { background-color: red; color: white; }
    </style>
}