
@{
}

<h2>MVC Post İşlemi</h2>

<p>
    MVC de 2 tane kullandığımız temel yöntem var. 1-Get, 2-Post
</p>

<p>
    Aşağıdaki method="post" değerine sahip form içindeki veriler post yöntemiyle controller a gönderilir.
</p>

<form method="post">
    Adınız : <input type="text" value="" name="txtad" />
    <input type="submit" value="Gönder" />
</form>

<p>
    Mvc de veri iletimi elementlerin name değerine yapılır
</p>

<h2>MVC Get İşlemi</h2>

<form method="get">
    Adınız : <input type="text" value="" name="txtad" />
    <input type="submit" value="Gönder" />
</form>